body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4c4faf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content:flex-end;
    width: 100%;
    height: 100%;
}
.leaderboard-button {
    background-color: #3498db; 
    color: #fff; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 10px; 
    font-size: 10px; 
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Optional: Add margin if needed */
}

.premium,
.leaderboard-button {
    padding: 10px 20px;
    font-size: 16px;
}

.premium-user-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; 
    color: white;
    border: none;
    cursor: pointer;
}

/* Style for the leaderboard modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: #3b3939; /* Change the background color */
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 40%; /* Set a maximum width for the modal */
    text-align: center; /* Center-align the content */
    position: relative; /* Add relative positioning */

}

/* Style for the close button */
.close {
    position: absolute; /* Set to absolute positioning */
    top: 10px; /* Adjust top positioning as needed */
    right: 10px; /* Adjust right positioning as needed */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

/* Style for the Show Leaderboard button */
.leaderboard-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

}

