<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <script src="https://kit.fontawesome.com/0bdc55090c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Create New Password</h1>
            <form action="" id="passwordform">
                <div id="errMessage" style="display: none"></div>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="New Password" required id="password"> 
                    </div> <br>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="Confirm Password" required id="confirmpassword"> 
                    </div>
                </div> <br>   
                <div class="btn-field">
                    <button type="button" id="createPasswordBtn">Create Password</button>
                </div>
            </form>
        </div>
    </div>  
    <!-- Add an empty hidden input field for the token -->
    <input type="hidden" id="token" value="uuid" name="token">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script>
        // i have received the token from backend and stored it in a variable
        const url = window.location.href
        const num =url.split("/")
        let tokenValue = num[num.length-1]
        
        
        document.getElementById("token").value = tokenValue;

        document.getElementById("createPasswordBtn").addEventListener("click", async (e) => {
            e.preventDefault();
            const password = document.getElementById("password");
            const confirmpassword = document.getElementById("confirmpassword");

            if (password.value !== confirmpassword.value) {
                alert("Mismatched Passwords!");
                document.getElementById("passwordform").reset();
            } else {
                try { 
                    console.log("Password:", password.value);
                    console.log("Confirm Password:", confirmpassword.value);
                    console.log("Token:", tokenValue);

                    axios.post(`http://13.127.157.193:3000/password/createNewPassword/${tokenValue}`, {
                        password: password.value,
                        confirmpassword: confirmpassword.value
                    })
                    .then((result) => {
                        if (result.status === 200) {
                            alert("Password reset successfully, please login again");
                        }
                    })
                    .catch((err) => {
                        alert("Error");
                    });
                } catch (error) {
                    console.log(error.response.data.message);
                }
            }
        });
    </script>
</body>
</html>
