<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/0bdc55090c.js" crossorigin="anonymous"></script>
    
</head>
<body>

    
    <div class="container">
        
        <div class="form-box">
            <h1 id="title">Create New Password</h1>
            <form action="" id="passwordform">
                <div id="errMessage" style="display: none"></div>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="New Password" required id="password"> 
                    </div> <br>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" placeholder="Confirm Password" required id="confirmpassword"> 
                    </div>
                </div> <br>   
                <div class="btn-field">
                    <button type="button" id="createPasswordBtn">Create Password</button>
                </div>
            </form>
        </div>
    </div>  
</div>


<script>
    document.getElementById("createPasswordBtn").addEventListener("submit", async (e) => {
        e.preventDefault();
        const password = document.getElementById("password");
        const confirmpassword = document.getElementById("confirmpassword");
        if (pass.value !== confirmPass.value) {
          alert("MisMatched Passwords!");
        document.getElementById("passwordform").reset();
        } else {
          try {
            const response = await axios.post(`http://localhost:3000/password/createNewPassword/${req.params.id}`, { password: password.value, confirmpassword: confirmpassword.value });
            response.redirect('/');
          } catch (error) {
            console.log(error.response.data.message);
          }
        }
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

</body>
</html>